<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Empresa</title>





</head>
<body ng-app="myApp">

    <form class="form" role="form">

        <div class="panel panel-primary">
            <div class="panel-heading">

                <h3 class="panel-title">Historia Clínica </h3>

            </div>
            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-xs-12" >
                        <br>
                        <label > Ingrese la Cedula del Paciente: </label><br><br>
                        <input name="Paciente" ng-model="pacienteBusqueda" class="form-control"/><br>
                        <input class="btn btn-default" type="submit" ng-click="searchPaciente()"
                                   value="Buscar Paciente"/><br>
                        <br>
                        <input class="btn btn-default" type="submit" ng-click="showCargarArchivos('/paciente')"
                               value="Nuevo Paciente"/><br>
                        <br>
                    </div>
                    <div class="col-md-3 col-xs-12" >
                        <br>
                        <label > Datos Paciente: </label><br>
                        <label > Primer Nombre: {{pacienteEncontrado.primer_nombre}} </label>
                        <label > Segundo Nombre: {{pacienteEncontrado.segundo_nombre}} </label>
                        <label > Primer Apellido: {{pacienteEncontrado.primer_apellido}} </label>
                        <label > Segundo Apellido: {{pacienteEncontrado.segundo_apellido}} </label><br>
                        <label > Edad: {{pacienteEncontrado.edad}} </label><br>
                        <label > Lugar Nacimiento: {{pacienteEncontrado.ciudad.nombre_ciudad}} </label><br>
                        <label > Herramientas:  </label><br>
                        <select name="Herramienta"  class="form-control" multiple   style="height: 150px;" >
                            <option value={{herramienta}}
                                    ng-repeat="herramienta in pacienteEncontrado.puesto_trabajo.herramienta ">
                                {{herramienta.nombre_herramienta}}
                            </option>
                        </select><br>

                    </div>
                    <div class="col-md-3 col-xs-12" >
                        <br>
                        <label > Puesto Trabajo:{{pacienteEncontrado.puesto_trabajo.nombre_puesto}} </label><br>
                        <label > Dependencia: {{pacienteEncontrado.puesto_trabajo.dependencia.nombre_dependencia}} </label><br>
                        <label >Empresa: {{pacienteEncontrado.puesto_trabajo.dependencia.empresa.nombre_empresa}} </label><br>
                        <label >Genero: {{pacienteEncontrado.sexo}} </label><br>
                        <label >Estado Civil: {{pacienteEncontrado.estado_civil.descripcion_estado_civil}} </label><br>
                        <label >Nivel Estudio: {{pacienteEncontrado.nivel_estudio.descripcion_nivel_estudio}} </label><br>
                        <label >Telefono: {{pacienteEncontrado.telefono}} </label><br>
                        <label> Materia Prima:  </label><br>
                         <select class="form-control" name="multipleSelect" multiple>
                            <option value="option-1" ng-repeat="mp in pacienteEncontrado.puesto_trabajo.materia_prima" value="{{mp}}">{{mp.descripcion_materia_prima}}</option>

                        </select><br>
                    </div>

                    <div class="col-md-3 col-xs-12" >
                        <br>
                        <label > Fecha Examen </label><br>
                        <input class="form-control" type="datetime-local"  ng-model="historiaClinica.fecha_examen"><br><br>
                        <label > Tipo Examen </label><br>


                        <select class="form-control" name="singleSelect" ng-model="historiaClinica.tipo_examen">
                            <option value="option-1" ng-repeat="th in tipoHistoria" value="{{th}}">{{th.descripcion_tipo_historia}}</option>

                        </select><br>

                    </div>

                </div>

            <div class="row">


                <div class="col-md-3 col-xs-12" >
                    <br>


                </div>
                <div class="col-md-3 col-xs-12" >
                    <br>

                </div>
                <div class="col-md-3 col-xs-12" >
                    <br>
                    <input class="btn btn-default" type="submit" ng-click="next1()"
                           value="Siguiente"/><br>

                </div>

            </div>
        </div>
        </div>
        </div><!--div fin contaniner-->

    </form>


</body>
