<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Empresa</title>


    <script src="../js/libs/jquery-2.0.2.min.js"></script>

</head>
<body ng-app="myApp">

    <form class="form" role="form">

        <div class="panel panel-primary">
            <div class="panel-heading">

                <h3 class="panel-title">Historia Clínica </h3>

            </div>
            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-xs-4" >
                        <br>
                        <label for="BusquedaPaciente"> Ingrese la Cedula del Paciente: </label><br><br>
                        <input name="Paciente" ng-model="pacienteBusqueda" class="form-control"/><br>
                        <input class="btn btn-default" type="submit" ng-click="searchPaciente()"
                               value="Buscar Paciente"/><br>
                        <br>
                    </div>
                    <div class="col-md-3 col-xs-4" >
                        <br>
                        <label for="Paciente"> Paciente: </label><br>
                        <label for="Nombre:"> {{pacienteEncontrado.primer_nombre}} </label><br>
                        <label for="Puesto Trabajo"> PuestoTrabajo: </label><br>
                        <label for="Nombre:"> {{pacienteEncontrado.puesto_trabajo.nombre_puesto}} </label><br>

                    </div>
                    <div class="col-md-3 col-xs-4" >

                    </div>

                </div>
            </div>
        </div>

    </form>

</body>
