<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Empresa</title>


    <script src="../js/libs/jquery-2.0.2.min.js"></script>

</head>
<body ng-app="myApp">
<form class="form" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Configuración Empresa </h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h3 class="panel-title">Seleccione la Empresa </h3>
                </div>
                <table class="table">
                    <div class="panel-body">

                            <th>
                                <label for="Empresay"> Single select: </label><br>
                                <select name="Empresa" ng-model="empresaSelected" >
                                    <option value={{empresaAux}} ng-repeat="empresaAux in listaEmpresas">{{empresaAux.nombre_empresa}}</option>
                                </select><br>



                                <input class="btn-success" type="submit" ng-click="test()" value="Test" />
                            </th>


                    </div>
                </table>
            </div>
        </div>


    </div>
    </div>
    </div>

</form>

</body>
