<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Clinica</title>
    <!-----estilos -->
    <link rel="stylesheet" type="text/css" href="/tesisSaludOcupacional/Client/css/bootstrap.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="/tesisSaludOcupacional/Client/css/OverrideComponents.css" id="pageshee1"/>
    <link rel="stylesheet" type="text/css" href="/tesisSaludOcupacional/Client/css/datepicker.css" id="pageshee3"/>


    <style>
        .selected {
            background-color:#bbbbbb;
            color:black;
            font-weight:bold;
        }
    </style>
    <!-----angular-->

    <!-----angular-->

    <script src="/tesisSaludOcupacional/Client/angular-1.4.6/angular.js"></script>
    <script src="/tesisSaludOcupacional/Client/angular-1.4.6/angular-route.js"></script>
    <script src="/tesisSaludOcupacional/Client/angular-1.4.6/ngStorage.min.js"></script>
    <script src="/tesisSaludOcupacional/Client/app.js"></script>

    <script src="/tesisSaludOcupacional/Client/controllers/CargasController.js"></script>
    <script src="/tesisSaludOcupacional/Client/controllers/EmpresaController.js"></script>
    <script src="/tesisSaludOcupacional/Client/controllers/ControllerHabitoToxico.js"></script>

    <script src="/tesisSaludOcupacional/Client/controllers/LoginController.js"></script>
    <script src="/tesisSaludOcupacional/Client/angular-1.4.6/angular-local-storage.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="CargasController as controlador" >

<script src="/tesisSaludOcupacional/Client/scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/tesisSaludOcupacional/Client/scripts/bootstrap.min.js"></script>
<script src="/tesisSaludOcupacional/Client/scripts/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script src="/tesisSaludOcupacional/Client/scripts/bootstrap-datepicker.js"></script>


<script>


    $(function(){


        $('.datepicker').datepicker();


        $('#date').change(function(){

            $scope.historiaClinica.fecha_examen = $("#date").val();
        });
        console.log('entra');

    });




</script>


<!--<script>
    $(function() {
        $(".datepicker").datepicker(
                {
                    dateFormat: "dd/mm/yy",
                    dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
                    dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                    firstDay: 1,
                    gotoCurrent: true,
                    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ]
                }
        );
    });
</script>-->

<!-----menu -->
<header>
    <nav class="navbar navbar-inverse navbar-static-top " role="navigation">
        <div class="container" >
            <div class="row">
                <br>
                <div class="col-md-1 col-lg-1">
                    <a href="/tesisSaludOcupacional/Client/Administrator/indexAdmin.html" ><img src="/tesisSaludOcupacional/Client/images/icono.png"/></a>
                </div>
                <div class="col-md-3 col-lg-3">
                    <a href="/tesisSaludOcupacional/Client/Administrator/indexAdmin.html"  class="navbar-brand"> HEALTH END POINT  </a>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuPrincipal-fm">
                            <span class="sr-only"> Desplegar/Ocultar </span>
                            <span class="icon-bar">  </span>
                            <span class="icon-bar">  </span>
                            <span class="icon-bar">  </span>
                        </button>




                    </div><br>
                    <!-- Iniciar menu-->
                    <div class="collapse navbar-collapse" id="menuPrincipal-fm">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/tesisSaludOcupacional/Client/Administrator/indexAdmin.html"  >DashBoard</a> </li>

                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button">Historia Clinica <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/HistoriaClinica/newClinicHistory.html" >Nueva Historia Clínica</a> </li>
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/HistoriaClinica/modificar/inicioModificar.html">Modificación Historia Clinica</a> </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button">Pacientes <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/Paciente/ingresoPaciente.html">Ingreso Paciente</a> </li>
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/Paciente/modificarPaciente.html">Modificación Paciente</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button">Ausentismo <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/Ausentismo/ingresoAusentismo.html">Ingreso Ausentismo</a> </li>
                                    <li ><a href="#">Busqueda Ausentismo</a> </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button">Evoluciones <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="#">Ingreso Evoluciones</a> </li>
                                    <li ><a href="#">Modificación Evoluciones</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button"> Configuracion CIE 10 <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="/tesisSaludOcupacional/Client/Administrator/Cie10/ConfiguracionCIe10.html">Administrar</a> </li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button"> {{usuarioLog.nombre_usuario}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="#" >Perfil</a> </li>
                                    <li ><a href="#" ng-click="logout()">Salir</a> </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<form class="form" role="form" ng-controller="ControllerHabitoToxico" ng-init="iniciar()">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="  text-center panel-title">Historia Clínica </h3>
            <h5 class=" text-center panel-title">Habitos Tóxicos</h5>


        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Tipo Habito Toxico:</label>
                    <select name="Alimentos" ng-model="habito_toxico.tipo_habito_toxico" class="form-control" simple
                            >
                        <option value={{al}}
                                ng-repeat="al in listaTipoHabito | filter:search1| orderBy:al.nombre_vacuna">
                            {{al.descripcion_tipo_habito_toxico}}
                        </option>
                    </select><br><br>


                </div>


                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Tipo Consumidor:</label>
                    <select name="Alimentos" ng-model="habito_toxico.tipo_consumidor" class="form-control" simple
                            >
                        <option value={{al}}
                                ng-repeat="al in listaTipoConsumidor | filter:search1| orderBy:al.nombre_vacuna">
                            {{al.descripcion_tipo_consumidor}}
                        </option>
                    </select><br><br>


                </div>

                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Frecuencia:</label>
                    <input type="number" class="form-control" placeholder="0" ng-model="habito_toxico.frecuencia" max="50">
                </div>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Años Consumo:</label>
                    <input type="number" class="form-control" placeholder="0" ng-model="habito_toxico.anios_consumo">
                </div>

            </div>


            <div class="row">


                <div class="col-md-3 col-xs-12" >
                    <br>
                    <br>
                    <input  type="submit" class="btn btn-submit" value="Agregar" ng-click="agregar()">
                </div>

            </div>



            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <br>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>

                            <th>Tipo Habito</th>
                            <th>TIpo Consumidor</th>
                            <th>Frecuencia</th>
                            <th>Años Consumo</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in listaHabitosToxicos " ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item)" >
                            <td>{{$index}}</td>

                            <td>{{ item.tipo_habito_toxico.descripcion_tipo_habito_toxico }}</td>
                            <td>{{ item.tipo_consumidor.descripcion_tipo_consumidor }}</td>
                            <td>{{ item.frecuencia }}</td>
                            <td>{{ item.anios_consumo }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div><!--div fin contaniner-->
        </div><!--div fin contaniner-->
    </div><!--div fin contaniner-->

</form>

</body>
</html>