.version.index /* version checker */
{
	color: #0000EA;
	background-color: #6C537C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 406px;
	min-height: 404.51250000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 253px 126.48749999999995px 301px;
}

#u80
{
	z-index: 3;
	width: 317px;
	background-color: transparent;
	margin-left: 34px;
	position: relative;
}

#u75
{
	z-index: 2;
	width: 406px;
	background-color: #0070B8;
	padding-bottom: 190px;
	margin-top: 33px;
	position: relative;
}

#u87-4
{
	z-index: 5;
	width: 175px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 115px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

